In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Data/Processed Dataset.csv")

In [3]:
df.columns

Index(['id', 'date', 'hour of tweet', 'time of day', 'Early Morning Count',
       'Morning Count', 'Noon Count', 'Eve Count', 'Night Count',
       'Late Night Count', 'user', 'user_followers',
       'Months Since Creation of Account', 'rendered_content',
       'Adjusted Tweet', 'Negative Score', 'Neutral Score', 'Positive Score',
       'Compound Score', 'Photo Count', 'Video Count', 'GIF Count',
       'Polarity Score_textblob', 'Subjectivity Score_textblob', 'likes',
       'retweets', 'replies', 'quoteCount', 'tweet_length', 'num_mentions',
       'num_hashtags', 'num_urls'],
      dtype='object')

## TF-IDF Vectorisation

In [7]:
import ast
df["Adjusted Tweet"] = df["Adjusted Tweet"].apply(ast.literal_eval)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
def dummy(x):
    return x

vectorizer = TfidfVectorizer(max_df = 0.9, min_df = 50, lowercase = False, tokenizer = dummy)
tf = vectorizer.fit_transform(df['Adjusted Tweet']).toarray()
tf_feature_names = vectorizer.get_feature_names()

In [9]:
df_tf_idf = pd.DataFrame(tf, columns = tf_feature_names)
df_tf_idf["id"] = df["id"]

In [10]:
df_tf_idf.head()

,abandoned,ability,able,absolute,absolutely,accept,access,accident,according,account,...,youre,youtube,yr,zaporizhzhia,zaporozhye,zelenskiy,zelensky,zelenskys,zelenskyy,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_tfidf_merged = pd.merge(df, df_tf_idf, on = "id")

In [12]:
df_tfidf_merged

,id,date_x,hour of tweet,time of day,Early Morning Count,Morning Count,Noon Count,Eve Count,Night Count,Late Night Count,...,youre,youtube,yr,zaporizhzhia,zaporozhye,zelenskiy,zelensky,zelenskys,zelenskyy,zone
0,1477420789863436289,2022-01-01 23:25:40+00:00,23,Night,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1477414596424220679,2022-01-01 23:01:03+00:00,23,Night,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1477414332376010752,2022-01-01 23:00:00+00:00,23,Night,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1477409748572151809,2022-01-01 22:41:47+00:00,22,Night,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1477409332820119552,2022-01-01 22:40:08+00:00,22,Night,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57857,1609034657231675393,2022-12-31 03:52:11+00:00,3,Late Night,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57858,1609032640664838145,2022-12-31 03:44:10+00:00,3,Late Night,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57859,1609025141333438465,2022-12-31 03:14:22+00:00,3,Late Night,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57860,1609020670486405121,2022-12-31 02:56:36+00:00,2,Late Night,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57861,1609017379853410304,2022-12-31 02:43:32+00:00,2,Late Night,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_tfidf_merged.to_csv('../Data/Processed Dataset TF-IDF.csv', index = False)

In [14]:
df_tfidf_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57862 entries, 0 to 57861
Columns: 2148 entries, id to zone
dtypes: float64(2122), int64(21), object(5)
memory usage: 948.7+ MB

## Word2vec

In [4]:
from gensim.models import Word2Vec

In [5]:
corpus = df["Adjusted Tweet"].to_numpy()
corpus

array(["['lithuania', 'never', 'abandon', 'ukraine', 'volunteer', 'helping', 'ukrainian', 'army', 'say', 'euromaidanpresscomlit']",
       "['today', 'min', 'today', 'max', 'month', 'min', 'month', 'max']",
       "['tough', 'talk', 'president', 'joe', 'biden', 'vladimir', 'putin', 'troop', 'buildup', 'border', 'side', 'insist', 'hopeful', 'pathway', 'easing', 'tension', 'could', 'open', 'diplomatic', 'talk', 'set', 'january', 'englishalarabiyanetnewsworld']",
       ...,
       "['alexander', 'mercouri', 'comment', 'ray', 'mcgoverns', 'biden', 'reneged', 'russian', 'army', 'talk', 'antiwarcomblog']",
       "['nice', 'overview', 'capability', 'bradley', 'ifvs', 'may', 'going']",
       "['vasyl', 'malyuk', 'head', 'sbu', 'secret', 'police', 'say', 'bombing', 'ethnic', 'cleansing', 'continue']"],
      dtype=object)

In [6]:
model = Word2Vec(min_count = 50)
model.build_vocab(corpus)

In [26]:
# idea: replace words not in the vocabulary with an unknown word token and train with it
# due to some tweets only containing 'unique' words, so do not have a document embedding
def unknowns(doc):
    unknown_token = "xxunkxx"
    l = [word if word in model.wv.key_to_index else unknown_token for word in doc]
    if not l:
        l = [unknown_token]
    return l

In [27]:
df["Adjusted Unknowns"] = df["Adjusted Tweet"].apply(unknowns)
corpus_unk = df["Adjusted Unknowns"].to_numpy()

In [28]:
model = Word2Vec(min_count = 50)
model.build_vocab(corpus_unk) #use new corpus to train
model.train(corpus_unk, total_examples = model.corpus_count, epochs = 10)

(4722597, 6828000)

In [29]:
embeddings = model.wv
len(embeddings.key_to_index)

2170

In [88]:
embeddings.similar_by_word("xxunkxx")

[('supported', 0.43975093960762024),
 ('created', 0.43644997477531433),
 ('whose', 0.38421499729156494),
 ('rightarrow', 0.36925357580184937),
 ('rose', 0.36789342761039734),
 ('field', 0.36598271131515503),
 ('art', 0.36549243330955505),
 ('symbol', 0.36332613229751587),
 ('small', 0.3625105917453766),
 ('etc', 0.36081624031066895)]

Create vector representations

In [39]:
def doc_vector(doc):
    l = pd.Series([word for word in doc if word in embeddings.index_to_key], dtype = 'object')
    l = l.apply(embeddings.get_vector)
    return np.mean(l, axis = 0)

In [54]:
doc_embedding_matrix = np.array(df["Adjusted Unknowns"].apply(doc_vector).tolist())
np.shape(doc_embedding_matrix)

In [63]:
column_names = []
for i in range(100):
    column_names.append(f"doc_embed_{i}")

df_doc_embeddings = pd.DataFrame(doc_embedding_matrix, columns = column_names)

In [77]:
df_doc_embeddings["id"] = df["id"]
df_embeddings_merged = pd.merge(df, df_doc_embeddings, on = 'id')

In [84]:
df_embeddings_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57862 entries, 0 to 57861
Columns: 132 entries, id to doc_embed_99
dtypes: float32(100), float64(6), int64(21), object(5)
memory usage: 36.6+ MB

In [85]:
df_embeddings_merged.to_csv('../Data/Processed Dataset Doc Embeddings.csv', index = False)

In [81]:
def cosine_similarity(x, y):
    
    # Ensure length of x and y are the same
    if len(x) != len(y) :
        return None
    
    # Compute the dot product between x and y
    dot_product = np.dot(x, y)
    
    # Compute the L2 norms (magnitudes) of x and y
    magnitude_x = np.sqrt(np.sum(x**2)) 
    magnitude_y = np.sqrt(np.sum(y**2))
    
    # Compute the cosine similarity
    cosine_similarity = dot_product / (magnitude_x * magnitude_y)
    
    return cosine_similarity

In [83]:
cosine_similarity(doc_embedding_matrix[0], doc_embedding_matrix[4])

0.7056877