In [1]:
import pandas as pd
df = pd.read_csv("../Data/Processed Dataset.csv")

In [39]:
df.columns

Index(['Unnamed: 0', 'id', 'date', 'hour of tweet', 'time of day',
       'Early Morning Count', 'Morning Count', 'Noon Count', 'Eve Count',
       'Night Count', 'Late Night Count', 'user', 'user_followers',
       'Months Since Creation of Account', 'rendered_content',
       'Adjusted Tweet', 'Negative Score', 'Neutral Score', 'Positive Score',
       'Compound Score', 'Photo Count', 'Video Count', 'GIF Count',
       'Polarity Score_textblob', 'Subjectivity Score_textblob', 'likes',
       'retweets', 'replies', 'quoteCount', 'tweet_length', 'num_mentions',
       'num_hashtags', 'num_urls'],
      dtype='object')

## TF-IDF Vectorisation

In [3]:
import ast
df["Adjusted Tweet"] = df["Adjusted Tweet"].apply(ast.literal_eval)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
def dummy(x):
    return x

vectorizer = TfidfVectorizer(max_df = 0.9, min_df = 50, lowercase = False, tokenizer = dummy)
tf = vectorizer.fit_transform(df['Adjusted Tweet']).toarray()
tf_feature_names = vectorizer.get_feature_names()

In [32]:
df_tf_idf = pd.DataFrame(tf, columns = tf_feature_names)
df_tf_idf["id"] = df["id"]

In [35]:
df_tf_idf.head()

,abandoned,ability,able,absolute,absolutely,accept,access,accident,according,account,...,—,‘,’,“,”,•,…,⁦⁩,乌克兰,俄罗斯
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df_tfidf_merged = pd.merge(df, df_tf_idf, on = "id")
df_tfidf_merged

## Word2vec

In [61]:
from gensim.models import Word2Vec

In [65]:
model = Word2Vec(df["Adjusted Tweet"], min_count=1)

In [66]:
df["Adjusted Tweet"]

0        ['lithuania', 'never', 'abandon', 'ukraine', '...
1        ['одесса', '°c', 'today', 'min', '°c', 'today'...
2        ['tough', 'talk', 'president', 'joe', 'biden',...
3        ['beach', 'nice', 'fall', 'smilingfacewithsmil...
4        ['note', 'stepan', 'dob', 'leader', 'organizat...
                               ...
57857    ['announces', 'strengthen', 'armed', '–', 'hap...
57858    ['living', 'govt', 'bomb', 'neighbouring', 'co...
57859    ['alexander', 'mercouri', 'comment', 'ray', 'm...
57860    ['nice', 'overview', 'capability', 'bradley', ...
57861    ['vasyl', 'malyuk', 'head', 'sbu', 'secret', '...
Name: Adjusted Tweet, Length: 57862, dtype: object

777