In [94]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_csv("../Data/Processed Dataset.csv")

In [96]:
df.columns

Index(['Unnamed: 0', 'id', 'date', 'hour of tweet', 'time of day',
       'Early Morning Count', 'Morning Count', 'Noon Count', 'Eve Count',
       'Night Count', 'Late Night Count', 'user', 'user_followers',
       'Months Since Creation of Account', 'rendered_content',
       'Adjusted Tweet', 'Negative Score', 'Neutral Score', 'Positive Score',
       'Compound Score', 'Photo Count', 'Video Count', 'GIF Count',
       'Polarity Score_textblob', 'Subjectivity Score_textblob', 'likes',
       'retweets', 'replies', 'quoteCount', 'tweet_length', 'num_mentions',
       'num_hashtags', 'num_urls'],
      dtype='object')

## TF-IDF Vectorisation

In [97]:
import ast
df["Adjusted Tweet"] = df["Adjusted Tweet"].apply(ast.literal_eval)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
def dummy(x):
    return x

vectorizer = TfidfVectorizer(max_df = 0.9, min_df = 50, lowercase = False, tokenizer = dummy)
tf = vectorizer.fit_transform(df['Adjusted Tweet']).toarray()
tf_feature_names = vectorizer.get_feature_names()

In [32]:
df_tf_idf = pd.DataFrame(tf, columns = tf_feature_names)
df_tf_idf["id"] = df["id"]

In [35]:
df_tf_idf.head()

,abandoned,ability,able,absolute,absolutely,accept,access,accident,according,account,...,—,‘,’,“,”,•,…,⁦⁩,乌克兰,俄罗斯
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [142]:
df_tfidf_merged = pd.merge(df, df_tf_idf, on = "id")

,Unnamed: 0,id,date_x,hour of tweet,time of day,Early Morning Count,Morning Count,Noon Count,Eve Count,Night Count,...,—,‘,’,“,”,•,…,⁦⁩,乌克兰,俄罗斯
0,0,1477420789863436289,2022-01-01 23:25:40+00:00,23,Night,0,0,0,0,1,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1477414596424220679,2022-01-01 23:01:03+00:00,23,Night,0,0,0,0,1,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1477414332376010752,2022-01-01 23:00:00+00:00,23,Night,0,0,0,0,1,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1477409748572151809,2022-01-01 22:41:47+00:00,22,Night,0,0,0,0,1,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1477409332820119552,2022-01-01 22:40:08+00:00,22,Night,0,0,0,0,1,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57857,60128,1609034657231675393,2022-12-31 03:52:11+00:00,3,Late Night,0,0,0,0,0,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57858,60129,1609032640664838145,2022-12-31 03:44:10+00:00,3,Late Night,0,0,0,0,0,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57859,60130,1609025141333438465,2022-12-31 03:14:22+00:00,3,Late Night,0,0,0,0,0,...,0.0,0.30033,0.377849,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57860,60131,1609020670486405121,2022-12-31 02:56:36+00:00,2,Late Night,0,0,0,0,0,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57861,60132,1609017379853410304,2022-12-31 02:43:32+00:00,2,Late Night,0,0,0,0,0,...,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [145]:
df_tfidf_merged.drop(columns=df_tfidf_merged.columns[0], axis=1, inplace = True)

In [147]:
df_tfidf_merged.to_csv('../Data/Processed Dataset TF-IDF.csv', index = False)

## Word2vec

In [333]:
from gensim.models import Word2Vec

In [334]:
corpus = df["Adjusted Tweet"].to_numpy()
corpus

array([list(['lithuania', 'never', 'abandon', 'ukraine', 'volunteer', 'helping', 'ukrainian', 'army', 'say', 'euromaidanpresscomlit…']),
       list(['одесса', '°c', 'today', 'min', '°c', 'today', 'max', '°c', 'month', 'min', '°c', 'month', 'max', '°c']),
       list(['tough', 'talk', 'president', 'joe', 'biden', 'vladimir', 'putin', 'troop', 'buildup', 'border', 'side', 'insist', 'hopeful', 'pathway', 'easing', 'tension', 'could', 'open', 'diplomatic', 'talk', 'set', 'january', 'englishalarabiyanetnewsworld…']),
       ...,
       list(['alexander', 'mercouri', 'comment', 'ray', 'mcgovern', '’', '‘', 'biden', 'reneged', '–', 'russian', 'army', 'talk', '’', 'antiwarcomblog…']),
       list(['nice', 'overview', 'capability', 'bradley', 'ifvs', 'may', 'going']),
       list(['vasyl', 'malyuk', 'head', 'sbu', 'secret', 'police', 'say', 'bombing', 'ethnic', 'cleansing', 'continue'])],
      dtype=object)

In [335]:
model = Word2Vec(min_count = 50)
model.build_vocab(corpus)

In [358]:
# idea: replace words not in the vocabulary with an unknown word token and train with it
# due to some tweets only containing 'unique' words, so do not have a document embedding
def unknowns(doc):
    unknown_token = "xxunkxx"
    l = [word if word in model.wv.key_to_index else unknown_token for word in doc]
    if not l:
        l = [unknown_token]
    return l

In [359]:
df["Adjusted Unknowns"] = df["Adjusted Tweet"].apply(unknowns)
corpus_unk = df["Adjusted Unknowns"].to_numpy()

In [360]:
model = Word2Vec(min_count = 50)
model.build_vocab(corpus_unk) #use new corpus to train
model.train(corpus_unk, total_examples = model.corpus_count, epochs = 5)

(2431359, 3520135)

In [361]:
embeddings = model.wv
len(embeddings.key_to_index)

2195

In [362]:
embeddings.similar_by_word("putin")

[('kremlin', 0.710456132888794),
 ('dictator', 0.7103002071380615),
 ('invade', 0.6870953440666199),
 ('ewch', 0.657461941242218),
 ('hun', 0.6544322371482849),
 ('eich', 0.6510521173477173),
 ('hitler', 0.6476453542709351),
 ('fuck', 0.6449313163757324),
 ('negotiate', 0.6365291476249695),
 ('welsh', 0.6246392726898193)]

In [363]:
def doc_vector(doc):
    l = pd.Series([word for word in doc if word in embeddings.index_to_key], dtype = 'object')
    l = l.apply(embeddings.get_vector)
    return np.mean(l, axis = 0)

In [364]:
df["Doc Embedding"] = df["Adjusted Unknowns"].apply(doc_vector)

In [365]:
df["Doc Embedding"].isnull().sum()

0

In [252]:
def cosine_similarity(x, y):
    
    # Ensure length of x and y are the same
    if len(x) != len(y) :
        return None
    
    # Compute the dot product between x and y
    dot_product = np.dot(x, y)
    
    # Compute the L2 norms (magnitudes) of x and y
    magnitude_x = np.sqrt(np.sum(x**2)) 
    magnitude_y = np.sqrt(np.sum(y**2))
    
    # Compute the cosine similarity
    cosine_similarity = dot_product / (magnitude_x * magnitude_y)
    
    return cosine_similarity

In [390]:
cosine_similarity(df["Doc Embedding"][0], df["Doc Embedding"][4])

0.8487113

In [392]:
df["Doc Embedding"]

0        [0.07805834, -0.014588691, 0.23392269, -0.0254...
1        [-0.63960946, -0.40524504, 0.3918164, 1.893061...
2        [-0.09184782, 0.051768374, 0.052514933, -0.015...
3        [-0.14544497, 0.08404495, 0.1817135, 0.4127910...
4        [0.19009611, -0.016301323, -0.0039494424, -0.2...
                               ...
57857    [-0.030207878, 0.029063975, -0.10970798, -0.23...
57858    [-0.048660904, 0.08426859, 0.1635136, 0.131736...
57859    [-0.18216607, 0.34529832, -0.013518377, -0.012...
57860    [-0.3110763, -0.023656292, 0.32520217, 0.35736...
57861    [0.08834591, -0.01041126, 0.0058961418, -0.173...
Name: Doc Embedding, Length: 57862, dtype: object